/* BackToTopButton.css */
.backToTopButton {
    border: none;
    background: none;
    position: fixed;
    bottom: 6vh;
    right: 6vh;
    /* color: var(--normal); */
    opacity: 0;
    transition: all 0.2s;
}

.backToTopButton:hover {
    /* color: var(--emphases); */
}

.backToTopButton:active {
    transform: scale(0.85);
}